
.myColorPallate{
/*Section Colors*/
color: #D43F44; /*[Rutgers Red]*/
color: #CDC5B7; /*[BROWN]*/
color: #999999; /*[Gray]*/
color: #404040; /*[Dark Gray]*/
color: #000000; /*[Black] */


color: #60BCFF; /*[Light Blue]*/
color: #5a5a5a; /*[Light Gray]*/
}