/* 
- Rutgers DCS HackRSpace Copyright 2017; 
- Author(s): Robert Neal;  
- Last Updated: Januanry 6, 2017; 
*/

/*	-------------[ALL PAGES] General CSS Element Rules *--------------------- */
*{
	/* IMPORTANT - Apply Border box styling to all elements */
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

html,body,h1, h2, h3, h4, h5, h6 , figure, article,p ,iframe{
	margin: 0;
	padding: 0;
	border: 0; 
}
img, embed, object, video{
	max-width:100%;	
}
img{
	vertical-align: top; /* Gets rid of extra space at the buttom of image */	
	max-width:100%;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
a { /* Used to ensure links are clickable on smaller devices */ 
	min-width:48px;
	min-height:48px;
}
a:visited {
	color:initial; /*or inherit*/ 
}

body {
	font-family: verdana, helvetica, Geneva, san-serif;
	font-size: 14px;
	color: #424242;
	line-height: 180%;
	color:#1a1a1a;
	background-color:white;
}

/*-------------[ALL PAGES] Class & CSS Rules Used to Debug *----------------- */
.debug{
	/*border: solid 1px black;
	background: rgba(0,0,0, .2);*/ 
}
.debug:hover {
	/*background: rgba(0,0,0, .4);*/
}



/*	-------------[ALL PAGES] General Section Rules *------------------------- */
/* - Each page is made of several section layers to make the site responsive - */
.outerWrapper, .innerWrapper, .contentWrapper{
	width:100%;
}
.outerWrapper{
	margin:0;
	min-width:310px;
}



/*	------------[ALL PAGES] Header/Nav Menu Section Rules*------------------- */
/* - Used on every page - */
header{
	background-color:white;
}


/*-LOGO Rules-------------------------------*/
header figure{
	width:100%;
	vertical-align:top;
}
header figure img{
	width:100%;
	padding: 30px 15%;
}


/*-Nav Menu Rules --------------------------*/
.navMenu{
	width:100%;
	vertical-align:middle;
	background-color: #D43F44; /*[Rutgers Red]*/
	padding:30px 0;
}
.navList {
	width:100%;
	display:table;
	padding:24px 0px;
}
.navItem {
	display:table-cell;
	box-sizing: border-box;
	display: inline-block;
	width: 32%;
	text-align:center;
	vertical-align:middle;
}
.navItem:nth-child(2){
	border-left:solid 2px white;
	border-right:solid 2px white;
}
.navItem  a{
	box-sizing:border-box;
	text-decoration:none;
	width:100%;
	text-transform: uppercase;
	line-height:24px;
	text-align:center;
	color:white; 
	min-width:100%;
}
.navItem a:hover{
	color:black; 
}	
.currentPage a{
	color:black;
}



/*	------------[Homepage] - Visual Lead Section Rules *--------------------- */

#home .outterWrapper:nth-child(2){
	background-color: #CDC5B7; /*[BROWN]*/
}
#home .visualLead{
	width: 100%;
	max-width:100%;
	background-color: #CDC5B7; /*[BROWN]*/
}
.visualImage {
	box-sizing: border-box;
	width:100%;
}
.visualImage img{
	width:100%;
	min-height:250px; 
}
.visualDescription {
	box-sizing: border-box;
	width: 100%;
	max-width:100%;
	background-color: #CDC5B7; /*[BROWN]*/
	padding:60px 5% 90px 5%;
}
.visualDescription  h2{
	padding:15px;
	margin-bottom:30px;
	text-align: center;
	font-size: 2.2em;
    line-height: 160%;
    border-bottom: solid 1px black;
    color:black;
}
.visualDescription  p{
	box-sizing: border-box;
	padding:20px 15px 10px 15px;
	text-align:center; 
}
.visualDescription a{
	text-decoration:none;
	color:white;
}
.visualDescription a:hover{
	color:#D43F44; /*[Rutgers Red]*/
}



/*	-----------[Homepage & Library] - Hardware Section Rules *--------------- */
.hardware{
	background-color:#999999; /*[Gray]*/
	padding:45px 0;
}
.hardware h2{
	text-align:center;
	padding:20px 20px 45px 20px;
	color:white; 
	font-size: 1.7em;
	text-transform: uppercase;
}
.hardware article {
	padding:25px;
}
.hardware p{
	padding:0 5%;
	text-align:center;
}
.hardware p a{
	text-decoration:none;
	color:white;
}
.hardware p a:hover{
	color:#60BCFF; /*[Light Blue]*/
}

/*	-------------[Homepage & Library] - Electronics Section Rules *---------- */
.electronics{
	background-color: #CDC5B7; /*[BROWN]*/
	padding:45px 0;
}
.electronics h2{
	text-align:center;
	padding:20px 20px 45px 20px;
	font-size: 1.7em;
	text-transform: uppercase;
}
.electronics article {
	padding:25px;
}
.electronics p{
	padding:0 5%;
	text-align:center;
}
.electronics p a{
	text-decoration:none;
	color:white;
}
.electronics p a:hover{
	color:#D43F44; /*[Rutgers Red]*/ 
}

/*	-----------[Homepage & Library] - Software Section Rules *--------------- */
.software{
	background-color:#999999; /*[Gray]*/
	padding:45px 0;
}
.software h2{
	text-align:center;
	padding:20px 20px 45px 20px;
	color:white; 
	font-size: 1.7em;
	text-transform: uppercase;
}
.software article {
	padding:25px;
}
.software p{
	padding:0 5%;
	text-align:center;
}
.software p a{
	text-decoration:none;
	color:white;
}
.software p a:hover{
	color:#60BCFF; /*[Light Blue]*/
}


/*	-----------[Homepage] - Hours & Location Section Rules *----------------- */
.hoursAndLocation{
	background-color: #CDC5B7; /*[BROWN]*/
}

/*	-----------[Homepage] - Hours Section Rules *---------------------------- */
.hours{
	background-color: #CDC5B7; /*[BROWN]*/
	width:100%;
	padding:45px 0 60px 0;
}
.hours h2{
	text-align:center;
	padding:20px 20px 45px 20px;
	font-size: 2.3em;
}
.hours p {
	padding:0px 20px;
	text-align:center; 
}
.hours table{
	box-sizing:border-box;
	padding:20px;
	width:100%;
	overflow-x:;
}
.hours th, td{
	padding:10px 10px 6px 10px;  
	text-align:center;
}
.hours table th{
	text-transform:uppercase;
	letter-spacing: 0.1em;	
	font-size:90%;
	border-bottom: 2px solid #111111;
	text-align: center;
}
.hours tr.even{
	background-color:#BDD4DE; /*[LIGHT BLUE]*/  
}
.hours tr:hover{
	background-color:#E74C3C; /*[BRIGHT RED]*/ 
}

/*	-----------[Homepage] - Location Section Rules *------------------------- */
.location{
	background-color:#999999; /*[GRAY]*/
	padding:45px 0 60px 0;
}
.location h2{
	text-align:center;
	padding:20px 20px 45px 20px;
	font-size: 2.3em;
	line-height: 140%;
}
.location p {
	padding:10px 20px 15px 20px;
	margin:0;
}
.location p a{
	text-decoration:none;
	color:white;
}
.location p a:hover{
	color:#60BCFF; /*[Light Blue]*/
}
.location iframe{
	box-shadow:border-box;
	width:100%;
	padding:0px 20px; 
	max-width:100%;
	height:350px;
}





/* -------------[ALL PAGES] Footer & Credits Section Rules*------------------ */
/* - Used on every page - */
footer{
	background-color:#404040; /*[Dark Gray]*/
}
.logoAndLinks {
	background-color:#404040; /*[Dark Gray]*/
	padding:60px 20px;
	color:#999999; /*[GRAY]*/
}
/*-----Address & Phone Section-------- */
.logoAndAddress img{
	margin:0 auto;
}
.logoAndAddress p{
	padding:15px;
}
/*------Related Links --------------- */
.footerLinks h3{
	padding:10px;
}
.linksItem{
	padding:0px 15px;
}
.linksItem a{
	text-decoration:none;
	color:white;
}
.linksItem a:hover{
	color:#E74C3C; /*[BRIGHT RED]*/ 
}


/* -----Credits & Copyright -------- */
.creditsOuter{
	background-color:#000000; /*[Black] */
	width:100%;
}
.creditsInner {
	background-color:#000000; /*[Black] */
}
.credits p {
	box-sizing:border-box;
	font-size:10px;
	padding:20px;
	text-align:center;
	color:#999999; /*[GRAY]*/
}
.credits p a{
	text-decoration:none;
	color:white;
}
.credits p a:hover{
	color:#E74C3C; /*[BRIGHT RED]*/ 
	text-decoration: underline;
}
.credits img{
	width:10px;
	height:10px;
	vertical-align:text-bottom;
}




/*@ ------*[ALL PAGES] Media Queries - Header Section *--------------------- @*/
/*@ - Used on every page - @*/ 
@media screen and (min-width: 959px){	
	header .contentWrapper{
		width:100%;
		display:table;
		padding-bottom:10px; 
	}	
	header figure{
		display:table-cell;
		width:40%;
		vertical-align:top;
	}
/*@ ------* Nav Menu *----------- @*/
	.navMenu{
		display:table-cell;
		width:60%;
		vertical-align:middle;
		background-color:white;
	}
	.navItem {
	  width: 32%;
	  height:100%;
	  text-align:center;
	}

	.navItem  a{
		font-size:2em;
		line-height:24px;
		color:#60BCFF; /*[Light Blue]*/
	}
	.navItem a:hover{
		color:#D43F44; /*[Rutgers Red]*/
	}	
	.currentPage a{
		color:black;
	}
}





/*@ ------*[ALL PAGES] Media Queries - Footer Section *--------------------- @*/
/*@ - Used on every page ----------- @*/
/*@ ------* Logo, Links & Credits *----------- @*/
@media screen and (min-width: 559px) {
	.logoAndLinks {
		display:table;
	}
	.logoAndAddress{
		display:table-cell;
		width:50%;
		vertical-align:top;
		box-shadow:border-box;
		background-color:inherit;
	}	
	.footerLinks{
		display:table-cell;
		width:50%;
		padding-top:75px;
		vertical-align:top;
		box-shadow:border-box;
		background-color:inherit;
	}
	.credits p {
		font-size:14px;
	}
	.credits img{
		width:15px;
		height:15px;
	}	
}




/*@ ------*[Homepage] Media Queries - What We Have Image Width Changes *---- @*/
@media screen and (min-width: 560px) and (max-width: 799px) {
	.hardware img {
		width:100%;
		padding: 0 5%;
		max-height:550px;
	}
	.electronics img {
		width:100%;
		padding: 0 5%;
		max-height:550px;
	}
	.software img {
		width:100%;
		padding: 0 5%;
		max-height:550px;
	}	
}
@media screen and (min-width: 800px)  {	
	.hardware img {
		width:100%;
		padding: 0 10%;
		max-height:550px;
	}
	.electronics img {
			width:100%;
			padding: 0 10%;
			max-height:550px;
		}		
	.software img {
		width:100%;
		padding: 0 10%;
		max-height:550px;
	}      
} 
@media screen and (min-width: 959px){	
	.whatWeHave .innerWrapper{
		display:table;
		background-color:#999999; /*[Gray]*/
	}
	.libraryCollection{
		display:table;
		background-color:#999999; /*[Gray]*/
	}
	.hardware{
		display:table-cell;
		margin:;
		width:33%;
		vertical-align:top;
		box-shadow:border-box;
		background-color:#999999; /*[Gray]*/
	}
	
	.electronics{
		display:table-cell;
		margin:;
		width:33%;
		vertical-align:top;
		box-shadow:border-box;
		background-color:#999999; /*[Gray]*/
	}
	.electronics h2{
		color:white;
	}
	.electronics p a:hover{
		color:#60BCFF; /*[Light Blue]*/
	}
	
	.software{
		display:table-cell;
		margin:;
		width:33%;
		vertical-align:top;
		box-shadow:border-box;
		background-color:#999999; /*[Gray]*/
	}

}



/*@ ------*[Homepage] Media Queries - Hours & Location 2 Column Changes *--- @*/ 
@media screen and (min-width: 959px){	
	.hoursAndLocation .innerWrapper{
		display:table;
		background-color: #CDC5B7; /*[BROWN]*/
	}
	.hours{
		background-color: #CDC5B7; /*[BROWN]*/
		display:table-cell;
		width:50%;
		vertical-align:top;
		box-shadow:border-box;
	}
	.location{
		background-color: #CDC5B7; /*[BROWN]*/
		display:table-cell;
		width:50%;
		vertical-align:top;
		box-shadow:border-box;
	}
}


/*@ -----* Media Queries for larger screen *-------------------------------- @*/
/*--!BUG-------------------------------------------------/	
	There is an issue on larger screens where the content
	background is white for portions. Check outterWrapper 
	style.  
 /------------------------------------------------------*/
/*@media screen and (min-width: 1300px) {
	.innerWrapper{
		max-width:1300px;
		margin:0px auto;
	}
	.visualImage{
		box-shadow:border-box;
		padding-top:60px;
	}	
}	*/






/*	------------[Library] - Library Page Rules *----------------------------- */
/*  - The library page implements a lot of css rule from the home 
 and about pages and does not have as many of its own classes.
----------------------------------------------------------------------------- */ 
.libraryCollection  ul{
	padding:25px 10%;
	text-align:;
}
.libraryCollection ul li{
	width:100%;
    border-bottom: solid 1px black;
}
.libraryCollection a{
	text-decoration:none;
	color:white;
}
.libraryCollection a:hover{
	color:#60BCFF; /*[Light Blue]*/;
}
.libraryCollection .commingSoon{
	text-decoration:line-through;
	color:black;
}
.libraryCollection .commingSoon:hover{
	text-decoration:line-through;
	color:black;
}










/*	------------[About Us] - About Hackerspace Section Rules *--------------- */
.aboutHackerspace{
	background-color:#CDC5B7; /*[BROWN]*/
}
.aboutHackerspace  {
	box-sizing: border-box;
	max-width:100%;
	background-color:#CDC5B7; /*[BROWN]*/
	width: 100%;
}





/*	------------[About Us] - Hackerspace Team Section Rules *--------------- */
.hackerspaceTeam{
	background-color:#999999; /*[Gray]*/
}
.ourTeam{
	padding:60px 5% 60px 5%;
}
.ourTeam .seperator{
	width:35%;
	border-bottom:solid 3px black;
	margin: 0 auto 45px auto;
}

.hackerspaceTeam h2{
	text-align:center;
	padding:20px 0;
	color:white;
    font-size: 1.7em;
    line-height: 160%;
    margin:0 45px 0px 45px;
    text-transform: uppercase;
}


.teamMember{
	display:table;
	border-bottom: solid 1px white;
	border-bottom-width: 80%;
	width:100%;
	box-sizing:border-box; 
	padding:10px;	
	margin:10px;
}
.teamMember:last-child{
	border-bottom: none;
}

.teamMember figure{
	display:table-cell;
	width:35%;
	padding:10px;
	box-sizing:border-box;
}
.teamMember figure img{
	width:100%;
	border-radius:190px;
	max-height:190px;
	max-width: 190px;

	min-width: 82px;
	min-height: 82px;

	margin:0 auto;
}
.teamMember p {
	display:table-cell;
	width:65%;
	vertical-align:middle;
	padding:0px 0px; 
	
	text-align:center;
	font-weight:bold;
	max-width:100%;
}
/*BUG! - IF TEAM MEMBER NAME OR TITLE LONG 
ENOUGH CONTENT OVERFLOWS CONTAINER */
.teamMember .name{
	font-size: 1.1em;
    text-transform: uppercase;
    display:block;
    padding:0;
    color:white;
}
.teamMember .title{
	color: black;
    font-size: 0.9em;
    display: block;
    padding:0;
}
.teamMember .email{
	color: black;
    font-size: 0.9em;
    display: block;
    padding:0;
}





/*	------------[About Us] - Hackerspace Policy Section Rules *-------------- */
.hackerspacePolicy{
	background-color:#CDC5B7; /*[BROWN]*/
}
/*	------------[About Us] - Hackerspace Do's Rules *--------------- */
.doPolicy{
	background-color:#CDC5B7; /*[BROWN]*/
	padding:60px 20px;
}
.doPolicy h2{
	text-align:center;
	padding:20px;
	text-transform: uppercase;
    font-size: 1.7em;
    line-height: 160%;
}
.doPolicy ul{
	margin: 0px 20px;
	padding:0px 0px 10px 0px;
	list-style:;
}
.doPolicy li {
	margin: 0px 20px;
	padding:5px;
	list-style:disc;
}
.doPolicy a{
	text-decoration:none;
	color:white;
}
.doPolicy a:hover{
	color:#60BCFF; /*[Light Blue]*/
}

/*	------------[About Us] - Hackerspace Dont's Rules *--------------- */
.dontPolicy{
	background-color:#999999; /*[Gray]*/
	padding:60px 20px;
}
.dontPolicy h2{
	text-align:center;
	padding:20px;
	color:white;
	text-transform: uppercase;
    font-size: 1.7em;
    line-height: 160%;
}
.dontPolicy ul{
	margin: 0px 20px;
	padding:0px 0px 10px 0px;
	list-style:;
}
.dontPolicy li{
	margin: 0px 20px;
	padding:5px;
	list-style:disc;
}
.dontPolicy a{
	text-decoration:none;
	color:white;
}
.dontPolicy  a:hover{
	color:#60BCFF; /*[Light Blue]*/
}






/*@ ------*[About Us] Media Queries - Team Members 2 Column Changes *------- @*/
@media screen and (min-width: 480px) {
	.teamMember {
		font-size: 16px;
	}
}


@media screen and (min-width: 640px) and (max-width: 959px) {
	.ourTeam{
		display:table;
	}
		
	.teamMember:nth-child(odd){
		display:inline-block;
		width:45%;
	}
	.teamMember:nth-child(even){
		display:inline-block;
		width:45%;
	}
	.teamMember:last-child{
		border-bottom: solid 1px white;
	}	
}




/*@ ------*[About Us] Media Queries - About Page Section Changes *---------- @*/
@media screen and (min-width: 960px) {
	.aboutHackerspace{
		background-color:#CDC5B7; /*[BROWN]*/

	}
	.hackerspaceTeam{
		background-color:#999999; /*[Gray]*/
	}
	.hackerspacePolicy{
		background-color:#CDC5B7; /*[BROWN]*/

	}

	/*@ ------*[About Us] Media Queries - Team Members 3 Column Changes *--- @*/	
	.ourTeam{
		display:table;
		background-color:; /*[BROWN]*/

	}
	.hackerspaceTeam h2{
		color:white;
	}
	.teamMember{
		display:inline-block;
		width:31%;
	}		
	.teamMember:last-child{
		border-bottom: solid 1px white;
	}

	/*@ ------*[About Us] Media Queries - HackRspace Policy 1 Column  *----- @*/	
	.hackerspacePolicy{
		display:table;
		background-color:#CDC5B7; /*[BROWN]*/
	}
	.doPolicy{
		display:table-cell;
		width:50%;
		background-color:#CDC5B7; /*[BROWN]*/
	}
	.dontPolicy{
		display:table-cell;
		width:50%;
		background-color:#CDC5B7; /*[BROWN]*/
	}
	.dontPolicy h2{
		color:black;	
	}
}


