/* 
- Rutgers HackRSpace Copyright 2016; 
- Author(s): Robert Neal;  
- Last Updated: September 28, 2016; 
*/

/*	-------------[ALL PAGES] General CSS Element Rules *--------------------- */
html, body {
	margin:0;
	padding:0;
	border: 0; 
}
body {
	font-family: verdana, helvetica, geneva, san-serif;
	font-size: 14px;
	color: #424242;
	line-height: 180%;
	color:#1a1a1a;
	background-color:#FFFFE5; /*OFF WHITE*/
}
h1, h2, h3, h4, h5, h6 , figure, article,p ,iframe{
	margin: 0;
	padding: 0;
	border: 0; 
}

header, nav, footer, section, article, div, figure, iframe{
	box-sizing: border-box;
}
img, embed, object, video{
	max-width:100%;	
}
img{
	vertical-align: top; /* Gets rid of extra space at the buttom of image */	
	max-width:100%;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	min-width:48px;
	min-height:48px;
}
a:visited {
	color:initial; /*or inherit*/ 
}



/*-------------[ALL PAGES] Class & CSS Rules Used to Debug *----------------- */
.debug{
	/*border: solid 1px black;
	background: rgba(0,0,0, .2);*/ 
}
.debug:hover {
	/*background: rgba(0,0,0, .4);*/
}



/*	-------------[ALL PAGES] General Section Rules *------------------------- */
/* - Each page is made of several section layers to make the site responsive - */
.outerSection{
	margin:0;
	width:100%;
	border:solid 0px red;
	min-width:310px;
}
.innerSection{
	width:100%;
	margin:0;
	border:solid blue 0px;
	min-width:;
}
.sectionData{
	width:100%;
	display:;
	border:solid 0px green;
	min-width:;
}



/*	------------[ALL PAGES] Header/Nav Menu Section Rules*------------------- */
/* - Used on every page - */
header{
	background-color:white;
}
header .innersection{
	width:100%;
}
header .sectionData{
	width:100%;
	display:;
}	
/*-LOGO Rules-------------------------------*/
header figure{
	box-shadow:border-box;
	width:100%;
	vertical-align:top;
	background-color:inherit;
}
header figure img{
	width:100%;
}


/*-Nav Menu Rules --------------------------*/
.navMenu{
	width:100%;
	vertical-align:middle;
	box-shadow:border-box;
	background-color:inherit;
	background-color:#F2A663; /*ORANGE*/
	border-top:solid 1px black; 
}
.navList {
	width:100%;
	display:table;
	padding:24px 0px;
}
.navItem {
	display:table-cell;
	box-sizing: border-box;
	display: inline-block;
	width: 32%;
	text-align:center;
	vertical-align:middle;
}
.navItem:nth-child(2){
	border-left:solid 1px black;
	border-right:solid 1px black;
}
.navItem  a{
	box-sizing:border-box;
	text-decoration:none;
	width:100%;
	text-transform: uppercase;
	line-height:24px;
	text-align:center;
	color:green; /*ORANGE*/
	min-width:100%;
}
.navItem a:hover{
	color:#BDD4DE; /*LIGHT BLUE*/
}	
.currentPage a{
	color:black;
}



/*	------------[Homepage] - Visual Lead Section Rules *--------------------- */

.visualOuterSection{
	background-color: #CDC5B7;
}
.visualLead {
	width: 100%;
	max-width:100%;
	background-color:#CDC5B7; /*GRAY*/
}
.visualImage {
	box-sizing: border-box;
	width:100%;
}
.visualImage img{
	width:100%;
	min-height:250px; 
}
.visualDescription {
	box-sizing: border-box;
	width: 100%;
	max-width:100%;
	background-color:#CDC5B7; /*GRAY*/
	width: 100%;
}
.visualDescription  h2{
	box-sizing: border-box;
	padding:15px;
	text-align: center;
}
.visualDescription  p{
	box-sizing: border-box;
	padding:5px 15px 20px 15px; 
}
.visualDescription a{
	text-decoration:none;
	color:purple;
}
.visualDescription a:hover{
	color:#E74C3C; /*BRIGHT RED*/ 
}



/*	-----------[Homepage] - What We Have Section Rules *--------------------- */
.whatWeHave{
	background-color:inherit;
}

/*	-----------[Homepage] - Hardware Section Rules *------------------------- */
.hardware{
	background-color:#FFFFE5; /*OFF WHITE*/
}
.hardware h2{
	text-align:center;
	padding:20px;
	color:#F2A663; /*ORANGE*/
}
.hardware p {
	padding:20px;
}
.hardware p a{
	text-decoration:none;
	color:purple;
}
.hardware p a:hover{
	color:#F2A663; /*ORANGE*/
}

/*	-------------[Homepage] - Electronics Section Rules *-------------------- */
.electronics{
	background-color:#CDC5B7; /*GRAY*/
}
.electronics h2{
	text-align:center;
	padding:20px;
}
.electronics p {
	padding:20px;
}
.electronics p a{
	text-decoration:none;
	color:purple;
}
.electronics p a:hover{
	color:#E74C3C; /*BRIGHT RED*/ 
}

/*	-----------[Homepage] - Software Section Rules *------------------------- */
.software{
	background-color:#CDC5B7; /*GRAY*/
	background-color:#F1E9BB; /*ORANGE WHITE*/
	background-color:#FFFFE5; /*OFF WHITE*/
}
.software h2{
	text-align:center;
	padding:20px;
	color:#F2A663; /*ORANGE*/
}
.software p {
	padding:20px;
}
.software p a{
	text-decoration:none;
	color:purple;
}
.software p a:hover{
	color:#F2A663; /*ORANGE*/
}


/*	-----------[Homepage] - Hours & Location Section Rules *----------------- */
.hoursAndLocation{
	background-color:#CDC5B7; /*GRAY*/
}

/*	-----------[Homepage] - Hours Section Rules *---------------------------- */
.hours{
	background-color:#CDC5B7; /*GRAY*/
	width:100%;
}
.hours h2{
	text-align:center;
	padding:20px;
}
.hours p {
	padding:0px 20px;
	text-align:center; 
}
.hours table{
	box-sizing:border-box;
	padding:20px;
	width:100%;
	overflow-x:;
}
.hours th, td{
	padding:10px 10px 6px 10px;  
	text-align:center;
}
.hours table th{
	text-transform:uppercase;
	letter-spacing: 0.1em;	
	font-size:90%;
	border-bottom: 2px solid #111111;
	text-align: center;
}
.hours tr.even{
	background-color:#BDD4DE; /*LIGHT BLUE*/  
}
.hours tr:hover{
	background-color:#E74C3C; /*BRIGHT RED*/ 
}

/*	-----------[Homepage] - Location Section Rules *------------------------- */
.location{
	background-color:#CDC5B7; /*GRAY*/
	background-color:#F1E9BB; /*ORANGE WHITE*/
	background-color:#FFFFE5; /*OFF WHITE*/
}
.location h2{
	text-align:center;
	padding:20px;
}
.location p {
	padding:10px 20px 15px 20px;
	margin:0;
}
.location p a{
	text-decoration:none;
	color:purple;
}
.location p a:hover{
	color:#F2A663; /*ORANGE*/
}
.location iframe{
	box-shadow:border-box;
	width:100%;
	padding:0px 20px; 
	max-width:100%;
	height:350px;
}





/* -------------[ALL PAGES] Footer & Credits Section Rules*------------------ */
/* - Used on every page - */
footer{
	background-color:#7F7F7F; /*Gray*/
}
.logoAndLinks {
	background-color:#7F7F7F; /*Gray*/
	padding:10px 20px;
}
/*-----Address & Phone Section-------- */
.logoAndAddress img{
	margin:0 auto;
}
.logoAndAddress p{
	padding:15px;
}
/*------Related Links --------------- */
.footerLinks h3{
	padding:10px;
}
.linksItem{
	padding:0px 15px;
}
.linksItem a{
	text-decoration:none;
	color:white;
}
.linksItem a:hover{
	color:#E74C3C; /*BRIGHT RED*/ 
}
/* -----Credits & Copyright -------- */
.creditsOuter{
	background-color:#404040; /*Dark Gray/black */
	width:100%;
}
.creditsInner {
	background-color:#404040; /*Dark Gray/black */
}
.credits p {
	box-sizing:border-box;
	font-size:10px;
	padding:10px;
	text-align:center;
}
.credits p a{
	text-decoration:none;
	color:white;
}
.credits p a:hover{
	color:#E74C3C; /*BRIGHT RED*/ 
}
.credits img{
	width:10px;
	height:10px;
	vertical-align:text-bottom;
}




/*@ ------*[ALL PAGES] Media Queries - Header Section *--------------------- @*/
/*@ - Used on every page - @*//	 
@media screen and (min-width: 959px){	
	header .sectionData{
		width:100%;
		display:table;
		padding-bottom:10px; 
	}	
	header figure{
		display:table-cell;
		width:40%;
		vertical-align:top;
		box-shadow:border-box;
		padding:;
		background-color:inherit;
	}
/*@ ------* Nav Menu *----------- @*/
	.navMenu{
		display:table-cell;
		margin-right:;
		width:60%;
		vertical-align:middle;
		box-shadow:border-box;
		padding:;
		border:none; 
		background-color:inherit;
	}
	.navItem {
	  width: 32%;
	  height:100%;
	  text-align:center;
	}

	.navItem  a{
		font-size:2em;
		line-height:24px;
		color:#F2A663; /*ORANGE*/
	}
	.navItem a:hover{
		color:#BDD4DE; /*LIGHT BLUE*/
	}	
	.currentPage a{
		color:black;
	}
} 
@media screen and (min-width: 959px){	
	header .sectionData{
		width:100%;
		display:table;
		padding-bottom:10px; 
	}	
	header figure{
		display:table-cell;
		width:40%;
		vertical-align:top;
		box-shadow:border-box;
		padding:;
		background-color:inherit;
	}
/*@ ------* Nav Menu *----------- @*/
	.navMenu{
		display:table-cell;
		margin-right:;
		width:60%;
		vertical-align:middle;
		box-shadow:border-box;
		padding:;
		border:none; 
		background-color:inherit;
	}
	.navItem {
	  width: 32%;
	  height:100%;
	  text-align:center;
	}

	.navItem  a{
		font-size:2em;
		line-height:24px;
		color:#F2A663; /*ORANGE*/
	}
	.navItem a:hover{
		color:#BDD4DE; /*LIGHT BLUE*/
	}	
	.currentPage a{
		color:black;
	}
}





/*@ ------*[ALL PAGES] Media Queries - Footer Section *--------------------- @*/
/*@ - Used on every page ----------- @*/
/*@ ------* Logo, Links & Credits *----------- @*/
@media screen and (min-width: 559px) {
	.logoAndLinks {
		display:table;
	}
	.logoAndAddress{
		display:table-cell;
		width:50%;
		vertical-align:top;
		box-shadow:border-box;
		background-color:inherit;
	}	
	.footerLinks{
		display:table-cell;
		width:50%;
		padding-top:75px;
		vertical-align:top;
		box-shadow:border-box;
		background-color:inherit;
	}
	.credits p {
		font-size:14px;
	}
	.credits img{
		width:15px;
		height:15px;
	}	
}




/*@ ------*[Homepage] Media Queries - What We Have Image Width Changes *--- @*/
@media screen and (min-width: 560px) and (max-width: 799px) {
	.hardware img {
		width:90%;
		padding: 0 5%;
		max-height:550px;
	}
	.electronics img {
		width:90%;
		padding: 0 5%;
		max-height:550px;
	}
	.software img {
		width:90%;
		padding: 0 5%;
		max-height:550px;
	}	
}
@media screen and (min-width: 800px)  {	
	.hardware img {
		width:80%;
		padding: 0 10%;
		max-height:550px;
	}
	.electronics img {
			width:80%;
			padding: 0 10%;
			max-height:550px;
		}		
	.software img {
		width:80%;
		padding: 0 10%;
		max-height:550px;
	}      
} 
@media screen and (min-width: 959px){	
	.whatWeHave .innerSection{
		display:table;
		background-color:#FFFFE5; /*OFF WHITE*/
	}
	.hardware{
		display:table-cell;
		margin:;
		width:33%;
		vertical-align:top;
		box-shadow:border-box;
		background-color:inherit;
	}
	.electronics{
		display:table-cell;
		margin:;
		width:33%;
		vertical-align:top;
		box-shadow:border-box;
		background-color:inherit;
	}
	.electronics h2{
		color:#F2A663; /*ORANGE*/
	}
	.software{
		display:table-cell;
		margin:;
		width:33%;
		vertical-align:top;
		box-shadow:border-box;
		background-color:inherit;
	}

}



/*@ ------*[Homepage] Media Queries - Hours & Location 2 Column Changes *--- @*/ 
@media screen and (min-width: 959px){	
	.hoursAndLocation .innerSection{
		display:table;
		background-color:#CDC5B7; /*GRAY*/
	}
	.hours{
		background-color:#CDC5B7; /*GRAY*/
		display:table-cell;
		width:50%;
		vertical-align:top;
		box-shadow:border-box;
		background-color:inherit;
	}
	.location{
		background-color:#CDC5B7; /*GRAY*/
		display:table-cell;
		width:50%;
		vertical-align:top;
		box-shadow:border-box;
		background-color:inherit;
	}
}
@media screen and (min-width: 1300px) {
	.innerSection{
		width:;
		max-width:1300px;
		margin:0px auto;
		border:solid blue 0px;
		min-width:;
	}
	.visualImage{
		box-shadow:border-box;
		padding-top:60px;
	}	
}	






/*	------------[Library] - Library Page Rules *----------------------------- */
/*  - The library page implements a lot of css rule from the home  and about 
	pages and does not have as many of its own classes ---------------------- */ 
.libraryVisualLead h2 {
	text-align: center;
	font-size:2.5em;
	padding-top:20px;
	padding-bottom: 20px;
}
.libraryCollection  ul{
	padding:25px;
	text-align:;
}
.libraryCollection  ul a{
	text-decoration:none;
	color:purple;
}
.libraryCollection ul a:hover{
	color:#E74C3C; /*BRIGHT RED*/ 
}
.commingSoon{
	text-decoration:line-through;
}





/*===================================================================================================================================================================================
 ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE -->
====================================================================================================================================================================================*/
.aboutHackerspace{
	background-color:#CDC5B7; /*GRAY*/
}
.aboutHackerspace  {
	box-sizing: border-box;
	width: 100%;
	max-width:100%;
	background-color:#CDC5B7; /*GRAY*/
	width: 100%;
}
.aboutHackerspace  h2{
	box-sizing: border-box;
	padding:15px 
}
.aboutHackerspace  p{
	box-sizing: border-box;
	padding:5px 15px 10px 15px; 
}
/*************************************END OF  ABOUT HACKERSPACE SECTION********************************/

/*************************************START OF  HACKERSPACE POLICY SECTION********************************/
.hackerspacePolicy{
	background-color:#FFFFE5; /*OFF WHITE*/
}
/*********************************************************************************************************/
/******************************************HACKERSPACE DO'S*****************************************************************/
.doPolicy{
	background-color:#FFFFE5; /*OFF WHITE*/
}
.doPolicy h2{
	text-align:center;
	padding:20px;
	color:#F2A663; /*ORANGE*/
}
.doPolicy ul{
	margin: 0px 20px;
	padding:0px 0px 10px 0px;
	list-style:;
}
.doPolicy li{
	margin: 0px 20px;
	padding:5px;
	list-style:disc;
}
.doPolicy a{
	text-decoration:none;
	color:purple;
}
.doPolicy  a:hover{
	color:#F2A663; /*ORANGE*/
}
/*****************************************END OF HACKERSPACE DO'S SECTION************************************************************/

/****************************************START OF HACKERSPACE DONT'S SECTION************************************************************/
.dontPolicy{
	background-color:#CDC5B7; /*GRAY*/
}
.dontPolicy h2{
	text-align:center;
	padding:20px;
	color:;
}
.dontPolicy ul{
	margin: 0px 20px;
	padding:0px 0px 10px 0px;
	list-style:;
}
.dontPolicy li {
	margin: 0px 20px;
	padding:5px;
	list-style:disc;
}
.dontPolicy a{
	text-decoration:none;
	color:purple;
}
.dontPolicy a:hover{
	color:#E74C3C; /*BRIGHT RED*/ 
}
/************************************************************END OF HACKERSPACE POLICY******************************************************************************/
.hackerspaceTeam{
	background-color:#FFFFE5; /*OFF WHITE*/
}
/****************************************************************************/

.ourTeam{
	background-color:inherit; /*OFF WHITE*/
}
.hackerspaceTeam h2{
	text-align:center;
	padding:20px;
	color:#F2A663; /*ORANGE*/
}

.teamMember{
	display:table;
	border-bottom: dashed 1px black;
	width:100%;
	box-sizing:border-box; 
	padding:10px;	
	
}
.teamMember:last-child{
	border-bottom: none;
}
.teamMember figure{
	display:table-cell;
	width:35%;
	padding:10px;
	box-sizing:border-box;
}
.teamMember figure img{
	width:100%;
	border-radius:190px;
	max-height:190px;
	max-width: 190px;
	
	min-width: 82px;
	min-height: 82px;
}
.teamMember figure p {
	text-align:center;
	text-transform:;
	font-weight:bold;
	max-width:100%;
}	
.teamMemberText{
	display:table-cell;
	width:65%;
	vertical-align:middle;
	padding:20px 0px; 
}
.ourTeam a{
	text-decoration:none;
	color:purple;
}
.ourTeam  a:hover{
	color:#F2A663; /*ORANGE*/
}













/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE --  ABOUT US PAGE -->
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media screen and (min-width: 480px) and (max-width: 639px) {
	.teamMember {
		font-size: 16x;
	}
}

@media screen and (min-width: 480px){	
	.doPolicy{
		box-sizing:border-box;
		padding:20px;
	}
	.dontPolicy{
		box-sizing:border-box;
		padding:20px;
	}	
}


	
@media screen and (min-width: 640px) and (max-width: 959px) {
	.ourTeam{
		display:table;
	}
		
	.teamMember:nth-child(odd){
		display:inline-block;
		width:50%;
		box-sizing:border-box;
		float:;
		border-right: dashed 1px black; 
	}
	.teamMember:nth-child(even){
		display:inline-block;
		width:50%;
		box-sizing:border-box;
		float:;
	}
	.teamMember:last-child{
		border-bottom: dashed 1px black;
		border-right:;
	}	
}
@media screen and (min-width: 860px) and (max-width: 959px) {
	.teamMember {
		font-size: 16x;
	}	
}




@media screen and (min-width: 960px) {
	.aboutHackerspace{
		background-color:inherit; /*OFF WHITE*/
		background-color:#CDC5B7; /*GRAY*/
	}
	.hackerspacePolicy{
		background-color:#CDC5B7; /*GRAY*/
		background-color:inherit; /*OFF WHITE*/
	}
	.hackerspaceTeam{
		background-color:inherit; /*OFF WHITE*/
		background-color:#CDC5B7; /*GRAY*/
	}
/***********************************************************/	
	.ourTeam{
		display:table;
		background-color:inherit; /*GRAY*/
	}
	.hackerspaceTeam h2{
		color:black;
	}
	.teamMember:nth-child(odd){
		display:inline-block;
		width:33%;
		box-sizing:border-box;
		float:;
		border-right: dashed 1px black; 
	}
	.teamMember:nth-child(even){
		display:inline-block;
		width:33%;
		box-sizing:border-box;
		float:;
		border-right: dashed 1px black; 
	}
	.teamMember:nth-child(3n+0){
		border-right:none;
		border-bottom: dashed 1px black;
	}		
	
	.teamMember:last-child{
		border-bottom: dashed 1px black;
		border-right:;
	}	
/********************************************/	
	.hackerspacePolicy{
		display:table;
		background-color: ;
	}
	.doPolicy{
		display:table-cell;
		width:50%;
		box-sizing:border-box;
		background-color:inherit;
		border-right: dashed 0px black;
	}
	.dontPolicy{
		display:table-cell;
		width:50%;
		box-sizing:border-box;
		background-color:inherit;
	}
	.dontPolicy h2{
		color:#F2A663; /*ORANGE*/	
	}
	
	
}